@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    font-family: 'Inter';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

body {
    background-color: black !important;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s all;
    transition: 1s all;
    opacity: 1;
    box-shadow: inset 37vw 50px 20vh black;
}

#bg-video {
    opacity: 0;
    z-index: 3;
    height: 100vh;
    position: fixed;
}

.animation-fadeIn {
    animation: fadeIn 3s linear;
}

#preloader-body {
    margin-left: auto;
    margin-right: auto;
}

.preloader-body-start {
    margin-top: 40vh;
}

#artem-melnichuk {
    font-family: 'Inter';
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: 400;
    position: relative;
    margin-bottom: 16px;
    z-index: 4;
}

#artem-melnichuk__sub {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    position: relative;
    z-index: 4;
}

.animation-step1-title {
    animation: step1Title 1s linear;
    animation-iteration-count: 1;
    position: relative;
    animation-fill-mode: forwards;
    left: 0px;
}

.animation-step1-sub {
    animation: step1Sub 1s linear;
    animation-iteration-count: 1;
    position: relative;
    animation-fill-mode: forwards;
    left: 0px;
}

.animation-step1-bg {
    animation: step1Bg 1s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    right: 0px;
    opacity: 1;
}

.animation-step2-prel-body {
    animation: step2prel 1s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation-fz-20 {
    animation: fz-20 1s linear;
    animation-iteration-count: 1;
    font-size: 20px;
    text-align: start;
    animation-fill-mode: forwards;
}

.animation-fz-16 {
    animation: fz-16 1s linear;
    animation-iteration-count: 1;
    font-size: 16px;
    text-align: start;
    animation-fill-mode: forwards;
}

.fz-20 {
    font-size: 20px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.fz-16 {
    font-size: 16px !important;
}

@keyframes fz-16 {
    0% {
        font-size: 32px;
        text-align: left;
    }

    25% {
        font-size: 28px;
    }

    50% {
        font-size: 24px;
    }

    75% {
        font-size: 20px;
    }

    100% {
        font-size: 16px;
        text-align: left;
    }
}

@keyframes fz-20 {
    0% {
        font-size: 60px;
        text-align: start;
    }

    25% {
        font-size: 50px;
    }

    50% {
        font-size: 40px;
    }

    75% {
        font-size: 30px;
    }

    100% {
        font-size: 20px;
        margin-bottom: 8px;
        text-align: start;
    }
}

@keyframes step2prel {
    0% {
        margin-top: 40vh;
    }

    25% {
        margin-top: 30vh;
    }

    50% {
        margin-top: 20vh;
    }

    75% {
        margin-top: 10vh;
    }

    100% {
        margin-top: 40px;
    }
}

@keyframes step1Title {
    0% {
        left: 300px;
        text-align: start;
    }

    20% {
        left: 240px;
    }

    40% {
        left: 180px;
    }

    60% {
        left: 120px;
    }

    80% {
        left: 60px;
    }

    100% {
        left: 0px;
        text-align: start;
    }
}

@keyframes step1Sub {
    0% {
        left: 440px;
        text-align: start;
    }

    20% {
        left: 320px;
    }

    40% {
        left: 240px;
    }

    60% {
        left: 160px;
    }

    80% {
        left: 80px;
    }

    100% {
        left: 0px;
        text-align: start;
    }
}

@keyframes step1Bg {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

#mainContent {}

.all {
    overflow: hidden;
}

.animation-fadeLeft {
    animation: fadeLeft 1.2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 900;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        left: 300px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.wrapper {
    overflow: hidden;
}

.content {
    flex: 1 1 auto;
}

.header {
    position: fixed;
    z-index: 1000;
    margin-top: 40px;
    margin-left: 460px;
}

.menu__items {
    margin-left: auto;
    position: relative;
    display: flex;
}

.menu__item {
    margin-left: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    scroll-snap-align: start;
}

.clr-gold {
    color: #D8AC56 !important;
    font-weight: 600 !important;
}

::-webkit-scrollbar {
    width: 6px;
    display: none;
}

.scroll-line {
    width: 530px;
    height: 6px;
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 90px;
    border: 1px solid #D8AC56;
    position: absolute;
    top: 300px;
    left: 230px;
    z-index: 1000;
    transform: rotate(90deg);
}

.scroll-line:nth-child(2) {
    top: 263px;
}

.opacity-0 {
    opacity: 0 !important;
    display: none !important;
}

.scroll-line-thumb {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 7.1px;
    right: 1px;
    border-radius: 50%;
    background: #D8AC56 !important;
    cursor: pointer;
}

.section__filmography {
    position: relative;
    height: 100% !important;
}

.section__filmography-chooser {
    display: flex;
    margin-left: 258px;
    margin-top: 90px;
}

.unchoosed {
    background: none !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.personal__filmography {
    border: 1px solid rgba(255, 255, 255, 0.001);
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 109px;
    height: 35px;
    border-bottom: none !important;
    background: rgba(255, 255, 255, 0.3) !important;
    text-align: center;
    line-height: 35px;
}

.personal__filmography:first-child {
    border-radius: 4px 0 0 0;
}

.personal__filmography:last-child {
    border-radius: 0 4px 0 0;
}

.personal__filmography span {
    vertical-align: middle;
}

.current-year {
    width: 44px;
    height: 23px;
    background: #FFFFFF !important;
    border-radius: 6px;
    transform: rotate(-90deg);
    text-align: center;
    padding-top: 5px;
    position: relative;
    bottom: 70px;
    right: 15px;
}

.section__filmography-items {
    height: 83vh;
    position: relative;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    /* overflow-y: hidden; */
}

.main-role-border {
    border: 2px solid #D8AC56 !important;
}

.main-role-clr {
    color: #D8AC56 !important;
}

.section__filmography-item:first-child {
    border-radius: 12px 0px 12px 12px;
}

.section__filmography-item {
    width: 480px;
    height: 267px;
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 24px 20px;
    box-sizing: border-box;
    position: relative;
}

.filmography__img {
    position: absolute;
    top: 24px;
    right: 20px;
}

.slider {
    display: block;
    position: absolute;
    top: -60px;
    left: 130px;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    background: none !important;
    overflow: hidden;
    z-index: 999;
}

.slider__slides {
    width: 100%;
    padding-top: 66%;
}

.slider__slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none !important;
    transition: 1s;
    opacity: 0;
}

.slider__slide.active {
    opacity: 1;
}

.slider__slide img {
    width: 170px;
    height: 170px;
}

.slider__nav-button {
    position: absolute;
    width: 12px;
    height: 12px;
    opacity: .8;
    cursor: pointer;
}

.slider__nav-button-prev {
    top: 220px;
    left: 175px;
    transform: translateY(-50%);
}

.slider__nav-button-next {
    top: 220px;
    left: 305px;
    transform: translateY(-50%);
}

.slider__nav-button-prev::after,
.slider__nav-button-next::after {
    content: "";
    position: absolute;
    display: inline-block;
}

.slider__nav-button-next::after {
    content: url('../assets/img/arrow-next.svg');
    top: 50%;
    right: 50%;
}

.slider__nav-button-prev::after {
    top: 50%;
    right: 50%;
    content: url('../assets/img/arrow-prev.svg');
}

.slider__nav {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__slide img {
    border-radius: 4px;
}

.slider__navlink {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px #fff solid !important;
    background: none !important;
    opacity: 1;
    margin: 0 2px 0;
    cursor: pointer;
    position: relative;
    bottom: 57px;
}

.main-role-border .slider__navlink {
    bottom: 55px;
    width: 8px;
    height: 8px;
}

.main-role-border .slider__nav-button-prev {
    top: 219px;
    left: 173px;
    transform: translateY(-50%);
}

.main-role-border .slider__nav-button-next {
    top: 219px;
    left: 303px;
    transform: translateY(-50%);
}

.slider__navlink.active {
    background-color: #fff !important;
}

.typeof__film {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 6px;
    color: rgba(255, 255, 255, 0.6);

}

.nameof__film {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.yearof__film, .roleof__film, .authorof__film, .castingof__film {
    margin-bottom: 6px;
    width: 245px;
}

.yearof__film-word, .roleof__film-word, .authorof__film-word, .castingof__film-word {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.yearof__film-number, .roleof__film-number, .authorof__film-number, .castingof__film-number {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.section__video {
    margin-top: 127px;
    width: 480px;
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 12px;
}

.section__video-items {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    padding-bottom: 24px;
    padding-left: 20px;
}

.section__video-item {
    width: 216px;
    margin-right: 8px;
    height: 190px;
}

.section__video-item-video {
    width: 216px;
    height: 121px;
}

.section__video-item-name {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 8px;
}

.main {
    position: relative;
    z-index: 999;
}

.section__photo {
    width: 480px;
}

.section__photo-item img {
    height: 172px;
}

/* .section__photo-item img:hover {
    transform: scale(1.1);
} */

.section__photo-items {
    height: 83vh !important;
    width: 480px !important;
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 12px;
    padding: 0 20px !important;
    margin-top: 127px;
    box-sizing: border-box;
    scroll-snap-type: y proximity;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.section__photo-item {
    margin-top: 24px !important;
    margin-left: 20px !important;
    margin-bottom: 120px !important;
}

.section__rezume {}

.section__rezume-body {
    width: 480px;
    height: 83vh !important;
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 12px;
    padding: 24px 20px;
    margin-top: 127px;
    box-sizing: border-box;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

.section__rezume-title {
    font-size: 24px !important;
    font-weight: 600;
    color: #FFFFFF;
}

.section__rezume-sub {
    font-size: 16px !important;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.section__rezume-title-anim {
    animation: rezumeTitle 0.5s linear;
    animation-fill-mode: forwards;
    font-size: 24px !important;
}

.section__rezume-sub-anim {
    animation: rezumeSub 0.5s linear;
    animation-fill-mode: forwards;
    font-size: 16px !important;
}

.section__rezume-title-leave-anim {
    animation: rezumeTitleLeave 0.5s linear;
    animation-fill-mode: forwards;
    font-size: 20px !important;
    text-align: left !important;
}

.section__rezume-sub-leave-anim {
    animation: rezumeSubLeave 0.5s linear;
    animation-fill-mode: forwards;
    font-size: 16px !important;
    text-align: left !important;
}


@keyframes rezumeTitle {
    0% {
        top: 0px;
        text-align: left;
    }

    100% {
        top: 110px;
        left: 20px;
        text-align: start;
        font-weight: 600;
        font-size: 24px;
        color: #FFFFFF;
    }
}

.vis-hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes rezumeSub {
    0% {
        top: 0px;
        text-align: left;
    }

    100% {
        top: 95px;
        left: 20px;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.6);
        position: relative;
    }
}

@keyframes rezumeTitleLeave {

    0% {
        top: 105px;
        left: 20px;
        font-weight: 600;
        font-size: 24px;
    }

    100% {
        top: 0px;
        left: 0px;
        font-size: 20px;
        font-weight: 400;
    }
}

@keyframes rezumeSubLeave {
    0% {
        top: 90px;
        left: 20px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}


.section__rezume-benef {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 8px;
}


.section__rezume-sec {
    margin-top: 24px;
}

.section__rezume-exp-title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.section__rezume-infoline {
    max-width: 446px;
    margin-bottom: 6px;
}

.download {
    margin-top: 8px;
}

.footer {
    z-index: 1001;
    position: relative;
}

.footer__icons {
    display: flex;
    z-index: 1001;
    position: absolute;
    bottom: 30px;
    right: 0;
}

.footer__icon img {
    width: 42px;
    height: 42px;
    margin-left: 15px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out 0s;
}

.menu__item {
    transition: all 0.2s ease-in 0s;
}

.menu__item:hover {
    color: #e9cf9c;
}

.unchoosed:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

.section__news {
    position: relative;
}

.section__news-items {
    margin-top: 127px;
    height: 83vh !important;
    width: 480px;
    scroll-snap-type: y proximity;
    overflow-y: scroll !important;
}

.section__news-item {
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 12px;
    padding: 24px 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.section__news-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.section__news-item-video {
    width: 440px;
    height: 248px;
    margin-bottom: 20px;
}

.section__news-item-text {
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    font-weight: 400;
}

.section__theatre {
    position: relative;
}

.section__theatre-items {
    margin-top: 127px;
    height: 83vh !important;
    width: 480px;
    scroll-snap-type: y proximity;
    overflow-y: scroll !important;
}

.section__theatre-item {
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 12px;
    padding: 24px 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
}

.section__theatre-item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
    color: #FFFFFF;
    width: 312px;
}

.section__theatre-item-year {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
}

.section__theatre-item-img {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.section__theatre-spect {
    margin-top: 24px;
}

.section__theatre-spect-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
    color: #FFFFFF;
}

.section__contacts {
    position: relative;
}

.section__contacts-items {
    margin-top: 127px;
    width: 480px;
    height: 83vh !important;
    scroll-snap-type: y proximity;
    overflow-y: scroll !important;
    display: flex;
    flex-wrap: wrap;
}

.section__contacts-item {
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 12px;
    padding: 24px 20px;
    box-sizing: border-box;
    width: 48%;
    height: 373px;
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
    font-family: 'Inter';
}

.section__contacts-item-img {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 16px;
}

.section__contacts-item-name {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 6px;
    width: 196px;
}

.section__contacts-item-status {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 16px;
}

.section__contacts-item-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.section__contacts-item-email {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.section__contacts-item-icons {
    margin-top: 16px;
    display: flex;
}

.section__contacts-item-icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}


.footer__icon img:hover {
    box-shadow: 2px 0 5px black;
}